/* font */

@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

.acme-regular {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* color palette */

:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;
  --gray1: #3e3e43;
  --gray2: #9fa6b2;
  --gray3: #ccd5e3;
  --gray4: #e7effb;
  --gray5: #f0f6ff;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}
