.NavigtionBar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--background);
}

.NavigationBar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6.3rem;
  padding: 0 3.2rem;

  @media (min-width: 768px) {
    height: 9.4rem;
    max-width: 86.3rem;
  }

  @media (min-width: 1200px) {
    max-width: 192rem;
    padding: 0 20rem;
  }
}

.Navigation-profile {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

.Navigation-profileImg {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.Navigation-profileEmail {
  display: none;
  font-size: 1.4rem;
  color: var(--gray100);

  @media (min-width: 768px) {
    display: inline;
  }
}

.NavigationBar-logo {
  height: 1.6rem;
}

.NavigationBar-signin {
  display: inline-block;
  width: 8rem;
  padding: 1rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;

  @media (min-width: 768px) {
    width: 12.8rem;
    padding: 1.6rem 0;
    font-size: 1.8rem;
  }
}
